.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card .card-content {
  height: 130px;
}

header nav ul li:first-child {
  padding: 0px 11px;
}


@media screen and (min-width: 800px) {
  .candidate.ballot .card-image img {
    height: 350px;
  }
}


.fetching-loader {
  text-align: center;
  padding-top: 200px;
}

div.scale-in {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}


.parallax-container div img {
  width: -webkit-fill-available;
}