@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container * {
    font-family: 'Open Sans Black', sans-serif;
}

div.contenedor{
    background-image: url('../img/hugh.png');
    background-size: cover;
}

body div.contenedor {
    height: 850px;
    width: 660px;
    position: relative;
    margin: auto;
}


.lean {
    transform-origin: 0 0;
    transform: rotate(-10deg);
}

.bold {
    font-weight: bold;
}

.banner {
    transform: translate(0, 0);
}

.banner > :first-child {
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 18px;
    height: 16px;
    background: yellow;
}

.banner h4 {
    padding: 7px 5px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;    
    margin: 0px;
}

.banner h4 span {
    color: #f50431;
}

.contenedor > h6 {
    
    position: absolute;
    top: 33px;
    left: 118px;
    font-size: 8px;
}
.container {
    display: inline-flex;
    width: 100%;
    transform: translate(0, 0);
}

.container .right {
    right: 0px;
    position: fixed;
    text-align: right;
}

.container .left {
    left: 0px;
    position: fixed;
    text-align: left;
}



.left .block :first-child[name='character'] {
color: #12c5f0;
font-size: 30px;
width: max-content;
line-height: 15px;
margin: 1px 0px 21px;
}

.no-around h3, .no-around h4 {
    line-height: 22px;
    margin: 15px 0px;
}

.no-around h5,
.no-around h6 {
    line-height: 15px;
    margin: 15px 0px;
}

h1.title {
    text-align: center;
    font-size: 114px;
    margin: 0px ;
    padding: 0px;
    line-height: 55px;
    color: #df2037;
}

.left .block h3{
    font-size: 58px;
    font-weight: bold;
    letter-spacing: -5px;
}

.left .block h3.main{
    color: #000;
}

.left .block h3.second{
    color: #f50431;
    line-height: 45px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}
.no-margin h3, .no-margin h4, .no-margin h5,
.no-margin h6 {
    margin: 0px;
}

div.lean > span {
    font-size: 80px;
    line-height: 89px;
}

.lean:first-child {
    background-color: #000;
}

h2.lean:not(:first-child) {
    background-color: yellow;
}

h2.lean {
    font-size: 80px;
    letter-spacing: -6px;
    font-weight: bold;
    line-height: 61px;
    margin: 0px;
    width: fit-content;
    font-style: italic;
    padding: 2px 4px;
}

.lean h6 {
    width: 152px;
    font-size: 17px;
    letter-spacing: -1px;
}
.block{
    padding: 1px;
}

.left .block {
    width: 200px;
}

.container .left h5 {
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 17px;
}

.left h5.no-around {
    margin: 0px;
}


.page {
    font-size: 10px;
}

.right > .block:first-child h3 {
    margin: 0px;

}

.right > .block:first-child :nth-child(2) {
    font-size: 83px;
    line-height: 65px;
    letter-spacing: -6px;
}

.right > .block:first-child :first-child,
.right > .block:first-child :last-child {
    font-size: 34px;
    line-height: 24px;
    letter-spacing: -3px;

}
.right > .block:nth-child(2){
    margin-top: 15px;
    margin-bottom: 67px;
}

.right .second * {
    margin: 0px;
}
.right .second h3{
    line-height: 22px;
    font-size: 28px;
    letter-spacing: -1px;
}

.right .second h5{
    line-height: 22px;
    font-size: 19px;
    letter-spacing: -2px;
}

.right .second h3:last-of-type{
    font-size: 34px;
}

.right .block:nth-child(3) {
    font-size: 20px;
    background-color: #81706a;
    text-align: left;
    padding: 3px 10px 0px 12px;
}

.right .block:nth-child(3) * {
    margin: 0px;
}

.right .block:nth-child(3) h5 {
    font-size: 20px;
}

.right .block:nth-child(4) {
    margin-top: 72px;
    width: 158px;
    float: right;
}

.right .block:nth-child(4) h6 {
    margin: 0px;
    text-align: left;
    font-size: 7px;
}


/* colors */
.gray {
    color: #81706a;
}
/* .gray {
    color: #6c6761;
} */

.gray2{
    color: #96847d;
}

.dark-blue {
    color: #35363a;
}

.white  {
    color: #fff;
}
.black {
    color: #000;
}




 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


